.btn-bottom {
    margin-top:10em;
    margin-left:5em;
    text-align:right;
}

.btn-top {
    margin-top: 0em;
    margin-left: 5em;
    text-align: right;
}

.container-show {
    position: relative;
    text-align: center;
    color: white;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10em;
  }
  
  
.centered-show {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.icon-show {
  border: 2px solid;
  border-radius: 0.5em;
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.icon-media {
  border: 2px solid;
  border-radius: 0.5em;
  position: absolute;
  top: 100%;
  left: 77%;
  transform: translate(-50%, -50%);
}

.main-img-show {
    width: 90%;
    height: 35em;
    
}

.text-switch {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 0.15em;
}

.horizontal-scrollable {
  white-space: nowrap !important;
}

.horizontal-scrollable .mycol{
  display: inline-block !important;
  float: none !important;
}

.des-show{
  background-color: rgb(245, 245, 245);
  border-radius: 0.2em;
}

:root {
  --white: #fff;
  --lightgray: #fafafa;
  --gray: #4d4d4d;
  --green: #1ea76e;
}

.ajax-load-more {
  font-weight: bold;
  font-size: 18px;
  min-width: 200px;
  padding: 5px;
  color: var(--white);
}

.grid .row-more{
  display:none;

}
/* .grid .row-more:nth-child(4n) {
  display:block;
} */

.form-new {
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  margin-top: 10em;
  padding-left:10em;
  padding-right:10em;
  background-color: rgba(51, 51, 51, 0.2);
  border: 1px solid;
  border-color: rgb(219, 219, 219);
  border-radius: 1em;
  color: white;
}

.form-edit {
  margin-left: 10em;
  margin-right: 10em;
  margin-bottom: 2em;
  margin-top: 10em;
  padding-left:10em;
  padding-right:10em;
}

.body-new {
  background-image: url("../assets/img/home.jpg");
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/home.jpg"); */
}

#mainNav {
  background-color: #1fc4f7 !important;
}

.btn-del{
  color: #64a19d;
  background-color: transparent;
  border:none;
}

.btn-del-2{
  color: white;
  background-color: transparent;
  border:none;
}

iframe {
  max-height: 8em !important;
  max-width: 11.9em !important;
  margin-right: 2em;
  position: relative !important;
}