<!DOCTYPE html>
<html lang="en">
    {% block header %}
        {% include "header.html.twig" %}
    {% endblock %}
    <body id="page-top">
        <!-- Navigation-->
        {% block navbar %}
            {% include "navbar.html.twig" %}
        {% endblock %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center" id="home">
                <div>
                    <div class="text-center mt-5">
                        <h1 class="mx-auto my-0 text-uppercase">SnowTricks</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">A free, responsive, one page Bootstrap theme created by Start Bootstrap.</h2>
                    </div>
                    <div class="btn-bottom">
                        <a class="btn" style="color:white;" href="#tricks"><i class="fas fa-3x fa-arrow-circle-down"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="text-center mt-5" id="tricks">
            <div class="container px-4 px-lg-5">
                <div class="text-center">
                    <h3>Tricks</h3>
                </div>
                <div class="row mb-4 mb-lg-5 align-items-center">
                    <div class="col-md-1"></div>
                    {% set commentVar = false %}
                    {% for list in tricks %}
                        {% if loop.index0 is divisible by(5) %}
                            {% set commentVar = true  %}
                            <div class="row mb-4 mb-lg-5 align-items-center">
                                <div class="col-md-1"></div>
                        {% endif %}
                        <div class="col-sm-12 col-md-2 col-xl-2 mr-2">
                            <div class="card" style="width: 12rem;">
                                {% set break = false %}
                                {% for key,value in list.Media %}
                                    {% if break == false %}
                                        {% if 'image' in value %}
                                            <img src="{{ asset('upload/' ~ list.Media[0])}}" class="card-img-top" alt="...">
                                        {% else %}
                                            <img class="card-img-top" src="../public/assets/img/frontflip.jpg" class="card-img-top" alt="...">
                                        {% endif %}
                                    {% endif %}
                                    {% set break = true %}
                                {% endfor %}
                                
                                <div class="card-body">
                                    <a href="{{ path('tricks_show', {id: list.id}) }}">{{ list.name }}</a>
                                    <a href="" style="margin-left:1em;"><i class="fas fa-trash-alt"></i></a>
                                    <a href="{{ path('tricks_edit', {id: list.id}) }}" style="margin-left:1em;"><i class="fas fa-pencil-alt"></i></a>
                                </div>
                            </div>
                        </div>
                        {% if loop.index is divisible by(5) or loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% if commentVar == true %}
                        <button class="btn btn-primary ajax-load-more mb-5">Charger plus</button>
                    {% endif %}
                    <div class="btn-top">
                        <a class="btn" href="#home"><i class="fas fa-3x fa-arrow-circle-up"></i></a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>
        <script>
            $( ".row-more:lt(10)" ).css( "display", "block" );
            const list = document.querySelector(".grid");
            const listItems = list.querySelectorAll(".row-more");
            const ajaxLoadMoreBtn = document.querySelector(".ajax-load-more");

            let k = 4;
            let j = 10;

            ajaxLoadMoreBtn.addEventListener("click", function () {
            let range = `.row-more:nth-child(n+${k}):nth-child(-n+${j})`;
            list
                .querySelectorAll(range)
                .forEach((elem) => (elem.style.display = "block"));

            if (listItems.length <= j) {
                this.remove();
            } else {
                k += 5;
                j += 5;
            }
            });
        </script>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
